@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", serif;
  background-color: #252a2e;
}

html {
  scroll-behavior: smooth;
}

.analyze-btn {
  width: auto;
}

@media screen and (max-width: 640px) {
  .analyze-btn {
    width: 99.93px;
    max-width: 99.93px;
  }
}

@media screen and (max-width: 363px) {
  .analyze-btn {
    width: 100% !important;
    max-width: 100% !important;
  }
}

@keyframes backgroundGlow {
  0% {
    background-color: #0e8b6e;
  }
  50% {
    background-color: #18d1a1;
  }
  100% {
    background-color: #0e8b6e;
  }
}

.glow-background {
  animation: backgroundGlow 1.5s ease-in-out infinite alternate;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-400 {
  animation-delay: 0.4s;
}

@keyframes progressFill {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}

.animate-progress {
  animation: progressFill 2s ease-out forwards;
}
